@{
    Layout = "_Layout";
}
@using System.Security.Claims

<h2>Log into your Treat Tracker account!</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
}
else
{
    <p> @Html.ActionLink("Register", "Register", null, null, new { @class = "btn btn-success btn-sm" }) </p>
    <p> @Html.ActionLink("Log in", "Login", null, null, new { @class = "btn btn-info btn-sm" }) </p>
}