@{
    Layout = "_Layout";
}
@model PT.Models.Flavor

<h3>Add a new Flavor to the list:</h3>
<hr />
@using (Html.BeginForm())
{

    @Html.Label("Flavor Name")
    @Html.TextBoxFor(model => model.FlavorName,
        new {@required="required"})

    <input type="submit" value="Add Flavor" />
}

<p>@Html.ActionLink("Back to flavors", "Index", null, null, new {@class="btn btn-light btn-sm"})</p>