@{
    Layout = "_Layout";
}
@model PT.Models.Treat

<h3>Add a new treat to the list:</h3>
<hr />
@using (Html.BeginForm())
{

    @Html.Label("Treat Name")
    @Html.TextBoxFor(model => model.TreatName,
        new {@required="required"})

    <input type="submit" value="Add Treat" />
}

<p>@Html.ActionLink("Show list", "Index", null, null, new {@class="btn btn-light btn-sm"})</p>
