@{
    Layout = "_Layout";
}

@model PT.Models.Treat

<h2>Are you sure you want to delete this treat from your collection?</h2>

@Html.DisplayNameFor(model => model.TreatName): @Html.DisplayFor(model => model.TreatId)
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
}
<br>
<p>@Html.ActionLink("Cancel", "Details", null, new {id = Model.TreatId }, new {@class="btn btn-light btn-sm"})</p>